Source: libdrm-imx
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends:
 debhelper (>= 10),
 quilt,
 pkg-config,
 xutils-dev (>= 1:7.6+2),
 libdrm-dev (>= 2.4.74),
Standards-Version: 4.0.0
Section: libs

Package: libdrm-imx-dev
Section: libdevel
Architecture: arm64
Depends:
 libdrm-vivante (= ${binary:Version}) [arm64],
 libdrm-libkms (= ${binary:Version}) [arm64],
 libdrm-dev (>= 2.4.74),
 ${misc:Depends},
Multi-Arch: same
Description: imx specific libdrm development headers.

Package: libdrm-vivante
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Vivante libdrm extensions.

Package: libdrm-libkms
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: libdrm libkms
