#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --enable-static=yes

override_dh_install:
	find debian/tmp -name '*.la' -delete
	rm -rf debian/tmp/usr/share/libdrm
	mkdir -p debian/tmp/usr/include/libdrm
	cp include/drm/imx_drm.h debian/tmp/usr/include/libdrm
	cp include/drm/drm_mode_imx.h debian/tmp/usr/include/libdrm
	cp include/drm/drm_fourcc_imx.h debian/tmp/usr/include/libdrm
	dh_install --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -plibdrm2 -V'libdrm2 (>= 2.4.74)' -- -c4
	dh_makeshlibs -plibdrm-vivante -V'libdrm-vivante (>= 2.4.74)' -- -c4
	dh_makeshlibs

%:
	dh $@ --with quilt --builddirectory=build/
